# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# docusaurus build output
/build-doc

# ESLint cache
.eslintcache

# Next.js build info
.next.lock

# SWC
.swc

# Local-first search index
.orama

# Local .env files
.env*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
.dockerignore
Dockerfile
docker-compose.yml
